    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: rgb(242, 242, 242);
        overflow-x: hidden;
    }
    
    .product-small-img {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        overflow-x: auto;
        width: 300px;
       }
      .product-small-img img {
        height:82px;
        cursor: pointer;
        opacity: 0.6;
        width: 200px;
        align-self: flex-end; /* Ensures images align at the bottom */
    }
    .product-small-img img :hover {
        opacity: 1;
    }
/*     
    .product-small-img {
        float: left;
        width: 100px; */
        
        .product {
         margin-left: 60px;
        width: 60px;
        height: 450px;
        margin-top: 230px;
    }
    
    .img-container img {
        height: 300px;
    }
    
    .img-container {
        margin-right: 300px;
        margin-top: -399px;
    }
    
    .heading {
        margin-top: 25px;
        padding-top: 40px;
        margin-left: 450px;
        width: 750px;
        font-size: 20px;
       
    }
    
    .container {
        margin-left: 0px;
        margin-top: 20px;
        font-size: 5px;
      
    }
    
    .checked {
        color: rgb(237, 237, 152);
    }
    
    .price {
        margin-top: 20px;
        margin-left: 500px;
        font-size: 10px;
        color: rgb(66, 66, 183);
    }
    
    .dprice {
        margin-top: 20px;
        margin-left: 500px;
        font-size: 8px;
        h1 {
            color: black
        }
    }
    
    .hrline {
        margin-top: -10px;
        width: 100px;
    }
    
    .subheading {
        margin-top: -580px;
        margin-left: 450px;
        font-size: 6px;
        h1 {
            color: black
        }
    }
    
    .subheading2 {
        margin-top: -50px;
        margin-left: 450px;
        font-size: 10px;
    }
    
    .subheading3 {
        margin-top: 25px;
        margin-left: 450px;
        font-size: 10px;
        h2 {
            color: rgb(156, 151, 151);
        }
        h3 {
            color: rgb(156, 151, 151);
        }
    }
    /* dropdown */
    
    .accordiond {
        background-color: white;
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        font-size: 15px;
        width: 100%;
        padding: 2rem 2.5rem;
        border: none;
        outline: none;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    
    .accordiond i {
        font-size: 1rem;
    }
    
    .active,
    .accordiond:hover {
        background-color: #f1f7f5;
    }
    
    .pannel {
        padding: 0 2rem 2.5rem 2rem;
        background-color: white;
        overflow: hidden;
        background-color: #f1f7f5;
        display: none;
        margin-left: 600px;
    }
    
    .pannel p {
        color: rgba(0, 0, 0, 0.7);
        font-size: 1 rem;
        line-height: 1.4;
    }
    .description{
        margin-left: 450px;
    }
    .faq {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: 10px 0;
        width: 730px;
        margin-left: 875px;
    }
    
    .faq.active {
        border: none;
    }
    /* dropdown */
    /* quantity */
    /* Outer container */
    
    .outer-container {
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 810px;
        width: 200px;
        margin-left: 1000px;
    }
    /* Inner container */
    
    .inner-container {
        display: flex;
        align-items: center;
    }
    /* Quantity button styling */
    
    .quantity-button {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        font-size: 25px;
        margin: 0 10px;
    }
    /* Styling for the plus and minus symbols */
    
    .quantity-button::before {
        content: "+";
    }
    /* Additional styling for the minus button */
    
    .quantity-button.minus::before {
        content: "-";
    }
    /* Remove default button styles */
    
    .quantity-button:focus {
        outline: none;
    }
    /* Quantity display */
    
    .quantity-display {
        display: inline-block;
        width: 60px;
        height: 30px;
        text-align: center;
        font-size: 26px;
    }
    /* quantity *



  /* Outer container */
    
    .outer-container1 {
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        width: 700px;
        margin-left: 870px;
    }
    /* Inner container */
    
    .inner-container1 {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    /* Style for radio button */
    
    .radio-container1 {
        display: inline-block;
        margin-right: 10px;
    }
    
    .radio-container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    /* Style for radio button appearance */
    
    .checkmark1 {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        border-radius: 15px;
        position: relative;
    }
    /* Style for checked state */
    
    .radio-container1 input:checked~.checkmark1::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-color: #000;
        border-radius: 50%;
    }
    /* Style for price */
    
    .price1 {
        font-size: 16px;
        margin-left: 470px;
    }
    
    .price2 {
        font-size: 14px;
        margin-left: 440px;
    }
    /* buttone */
    /* Container with border */
    
    .container2 {
        padding: 20px;
        width: fit-content;
    }
    /* Button styling */
    /* Button container styling */
    
    .button-container {
        text-align: center;
    }
    /* Button styling */
    
    .large-button1 {
        display: inline-block;
        padding: 20px 40px;
        background-color: orange;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin-top: 10px;
        margin-left: 580px;
    }
    
    .large-button2 {
        display: inline-block;
        padding: 20px 40px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin-left: 299px;
    }
    /* Hover effect */
    
    .large-button1:hover {
        background-color: #0056b3;
    }
    .home{
        background-color: white;
      margin: 20px;
    }
    .large-button2:hover {
        background-color: #0056b3;
    }
    /* Adjustments for the second button */
    
    .large-button1+.large-button1 {
        margin-top: 20px;
      
    }
    /* buttone */
    /* miniimg */
    
    .miniimg {
        margin-top: 3px;
        margin-left:210px;
        width: 330px;
        height: 60px;
        padding-bottom: 50px;
     
    }
    /* miniimg */
    /* Box styling */
    /* box */
    
    .box2 {
        border: 2px solid #fffafa;
        padding: 20px;
        background-color: rgb(235, 234, 234);
        border-radius: 10px;
        width: fit-content;
        margin-left: 850px;
        margin-top: -95px;
        p1 {
            font-size: 22px;
        }
        p2 {
            font-size: 20px;
        }
    }
    /* Line styling */
    
    .line2 {
        border-top: 1px solid #000;
        margin: 10px 0;
    }
    /* box */
    
    .boxlefthead {
        margin-top: 600px;
        margin-left: 250px;
        h2 {
            margin-top: 10px;
            width: 500px;
            font-size: 18px;
        }
    }
    /* 
    benefits */
    /* styles.css */
    
    .body {
        font-family: Arial, sans-serif;
    }
    
    .continer {
        /* text-align: left; */
        margin-top: 150px;
    }
    
    .continer h1 {
        color: rgb(187, 182, 182);
        font-size: 20px;
        /* margin-left: 250px; */
        /* margin-right: 220px; */
    }
    
    .continer h2 {
        font-size: 25px;
        /* margin-left: 250px; */
    }
    /* styles.css */
    
    .gallery {
        display: flex;
        justify-content: center;
        gap: 10px;
        /* Adjusted gap size for less spacing */
        padding: 20px;
        /* margin-left: 250px; */
        /* margin-right: 250px; */
        margin-top: 100px;
    }
    
    .image-container {
        position: relative;
        padding: 10px;
        transition: transform 0.3s ease;
        width: 900px;
        /* Set a fixed width */
        height: 300px;
        /* Set a fixed height */
    }
    
    .image-container img {
        width: 100%;
        height: 150px;
        /* Set the image height to 200px */
        object-fit: cover;
        /* Ensures the image covers the area without stretching */
        border-bottom: 2px gray;
    }
    
    .image-container .image-heading {
        text-align: center;
        margin-top: 10px;
    }
    
    .image-container .description {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: black;
        /* Set the description color to black*/
        padding: 10px;
        box-sizing: border-box;
    }
    
    .image-container:hover {
        transform: scale(1.4);
    }
    
    .image-container:hover .description {
        display: block;
    }
    /* Add a line between the image name and description */
    
    .image-container .image-heading::after {
        content: '';
        display: block;
        width: 150%;
        height: 1px;
        /* Adjust the height for the line thickness */
        background-color: black;
        /* Set the line color to black */
        margin-top: 10px;
        /* Adjust the space between the heading and the line */
    }
    /**/
    
    .continer-Benefits {
      
      margin-top: -550px;
      margin-left: -200px;
      
      
    }
    
    .continer-Benefits h1 {
        color: gray;
        margin-left: 0px;
        width: 1200px;
        font-size: 2.5rem;
    }
    .home1{
        text-align: start;
        margin-right:  400px;
    }
    .continer-Benefits h2 {
        /* margin-left: 250px; */
        font-size: 2rem;
        
    }
    /**/
    
    .content-container {
        display: flex;
     width: 1160px;
        margin: 0 -15px;
        margin-left: -220px;
    
        /* margin-left: -50px; */
        font-size: 20px;
    }
    
    .content-box {
border: 0px solid #ccc;
        padding: 20px;
        margin: 10px;
        border-top: 1px solid #ccc;
      
    }
    
    .content-box h3 {
        margin-top: 0;
    }
    
    .content-box p:first-child {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .c1 {
        color: gray;
    }
    /* 
    benefits */
    
    .Timeline{
        margin-left:55px ;
    }
     #fifth-section {
        h1 {
         
            margin-left: -190px;
            color: gray;
            
            width: 1100px;
            font-size: 2rem;
        
        }
        margin-left: 250px;
        width: 100%;
        min-height: 200px; 
      
    } 
     
    .img-nav {
        width: 100%;
        position: relative;
    }
    
    .img-nav-icon {
        margin-left: 250px;
        width: 200px;
        /* Initial width */
        cursor: pointer;
        margin: 5px;
        transition: width 0.3s ease;
        /* Smooth transition */
        position: relative;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
    /* .accordion */
    
    .accordion {
        margin-top: -58px;
        margin-left: 650px;
        width: 450px;
        
    }
    .sold{
        margin-left: 880px;
        margin-top: -160px;
      }
      .out-btn{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 30px;
        font-weight: 600;
      }
    .acctext {
        h1 {
            margin-top: 80px;
            margin-left: 90px;
        }
    }
    
    .accpara {
        p {
            margin-left: 250px;
            width: 700px;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }
    
    .accordion li {
        list-style: none;
        width: 100%;
        margin: 20px;
        padding: 20px;
        border-radius: 8px;
        background-color: rgb(225, 224, 220);
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }
    
    .accordion li label {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .content {
        font-family: Arial;
    }
    
    label::before {
        content: '+';
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    .accordion .content {
        color: #555;
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
    }
    
    .accordion input[type="radio"]:checked+label+.content {
        max-height: 400px;
        padding: 10px 10px 20px;
    }
    
    .accordion input[type="radio"]:checked+label::before {
        content: '-';
    }
    
    .img1 {
        object-fit: cover;
        width: 1857px;
    }
    
    .accordion1 {
        margin-top: -140px;
        margin-left: 650px;
        width: 450px;
    }
    
    .acctext1 {
        h1 {
            margin-left: 50px;
            width: 700px;
            margin-top: 100px;
        }
        h2 {
            margin-left: 50px;
            width: 600px;
            font-size: 15px;
            margin-top: 25px;
        }
    }
    
    .accordion1 li {
        list-style: none;
        width: 100%;
        margin: 20px;
        padding: 20px;
        border-radius: 8px;
        background-color: rgb(225, 224, 220);
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }
    
    .accordion1 li label {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .content1 {
        font-family: Arial;
    }
    
    label::before {
        content: '+';
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    .accordion1 .content1 {
        color: #555;
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
    }
    
    .accordion1 input[type="radio"]:checked+label+.content1 {
        max-height: 400px;
        padding: 10px 10px 20px;
    }
    
    .accordion1 input[type="radio"]:checked+label::before {
        content: '-';
    }
    
    .accordion2 {
        margin-top: -240px;
        margin-left: 650px;
        width: 450px;
    }
    
    .acctext2 {
        h1 {
            margin-left: 50px;
            width: 660px;
            margin-top: 100px;
        }
        h2 {
            margin-left: 50px;
            width: 600px;
            font-size: small;
            margin-top: 25px;
        }
    }
    
    .accordion2 li {
        list-style: none;
        width: 100%;
        margin: 20px;
        padding: 20px;
        border-radius: 8px;
        background-color: rgb(225, 224, 220);
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }
    
    .accordion2 li label {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .content2 {
        font-family: Arial;
    }
    
    label::before {
        content: '';
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    .accordion2 .content2 {
        color: #555;
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
    }
    
    .accordion2 input[type="radio"]:checked+label+.content2 {
        max-height: 400px;
        padding: 10px 10px 20px;
    }
    
    .accordion2 input[type="radio"]:checked+label::before {
        content: '-';
    }
    /* .accordion */
    /* imageslider */
    
    .product1 {
        margin-left: 250px;
        margin-top: -570px;
    }
    
    .heading1 {
        h1 {
            margin-left: 920px;
            margin-top: 200px;
        }
    }
    
    .container5 {
        font-size: 5px;
    }
    /* imageslider */
    
    .star {
        font-size: 5px;
        margin-top: 30px;
        margin-left: 920px;
    }
    
    .price4 {
        h1 {
            margin-top: 50px;
            font-size: 20px;
        }
    }
    
    .dprice4 {
        h1 {
            margin-top: 0px;
            font-size: 15px;
        }
    }
    
    .subheading4 {
        h1 {
            font-size: 12px;
            margin-top: 13px;
            margin-left: 920px;
        }
    }
    
    .subheading5 {
        p {
            margin-top: 65px;
            margin-left: 920px;
            width: 700px;
            font-size: 15px;
        }
    }
    
    .subheading8 {
        h1 {
            margin-left: 920px;
            margin-top: 30px;
            font-size: 18px;
        }
    }
    /* quantity */
    /* Outer container */
    
    .outer-container5 {
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 810px;
        width: 200px;
        margin-left: 1050px;
        margin-top: -35px;
    }
    /* Inner container */
    
    .inner-container5 {
        display: flex;
        align-items: center;
    }
    /* Quantity button styling */
    
    .quantity-button5 {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        font-size: 25px;
        margin: 0 10px;
    }
    /* Styling for the plus and minus symbols */
    
    .quantity-button5::before {
        content: "+";
    }
    /* Additional styling for the minus button */
    
    .quantity-button.minus5::before {
        content: "-";
    }
    /* Remove default button styles */
    
    .quantity-button5:focus {
        outline: none;
    }
    /* Quantity display */
    
    .quantity-display5 {
        display: inline-block;
        width: 60px;
        height: 30px;
        text-align: center;
        font-size: 26px;
    }
    /* quantity *


     .button-container {
        text-align: center;
    }
    /* Button styling */
    
    .button-container1 {
        text-align: center;
        margin-top: 30px;
        margin-left: 350px;
        overflow-x: hidden;
        align-items: center;
        display: flex;
    }
    
    .large-button1 {
        display: inline-block;
        padding: 20px 40px;
        background-color: orange;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin-top: 10px;
        margin-left: 580px;
    }
    
    .large-button2 {
        display: inline-block;
        padding: 20px 40px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin-left: 299px;
    }
    /* Hover effect */
    
    .large-button1:hover {
        background-color: #0056b3;
    }
    
    .large-button2:hover {
        background-color: #0056b3;
    }
    /* Adjustments for the second button */
    
    .large-button1+.large-button1 {
        margin-top: 20px;
    }
    /* buttone */
    /* imageinthebox */
    /* Container styling */
    
    .containerImg {
        display: flex;
        align-items: center;
        border: 2px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        width: 1100px;
        margin-top: 100px;
        margin-left: 50px;
        height: 500px;
        /* Adjust as needed */
    }
    /* Left side for image */
    
    .left-side1 {
        flex: 1;
    }
    /* Right side for text */
    
    .right-side1 {
        h2 {
            font-size: 30px;
            width: 270px;
            margin-left: 20px;
            margin-top: -100px;
        }
        p {
            font-size: 18px;
            margin-left: 20px;
            width: 280px;
        }
        img {
            width: 30px;
            margin-top: 20px;
            margin-left: 20px;
        }
        h1 {
            margin-top: -30px;
            font-size: 12px;
            margin-left: 60px;
        }
    }
    /* Image styling */
    
    .image2 {
        width: 750px;
        height:550px ;
    }
    /* forblogpost */
    
    .container123 {
        overflow: hidden;
        display: flex;
        /* justify-content: space-between; */
        max-width: 1180px;
        margin: 0 auto;
        padding: 20px;
        width: 1080px;
        background-color: rgb(242, 242, 242);
    }
    
    .card {
        flex-basis: calc(33.33% - 20px);
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    
    .card h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .card p {
        font-size: 16px;
        margin-bottom: 1px;
        background-color: white;
    }
    
    .blog h1 {
        font-size: 300%;
        margin-top: 90px;
        margin-left: 250px;
        color: #7982a1;
    }
    
    .container123 {
        display: flex;
        justify-content: space-between;
        max-width: 2200px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .card {
        flex-basis: calc(33.33% - 20px);
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    
    .card img {
        width: 100%;
        height: auto;
    }
    
    .card h2 {
        font-size: 24px;
        padding: 20px;
        margin: 0;
        background-color: white;
        color: #060303;
    }
    
    .card p {
        font-size: 16px;
        padding: 20px;
        margin: 0;
    }
    
    .card a {
        display: block;
        font-size: 16px;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }
    
    .card a:hover {
        background-color: #444;
    }
    
    @media (max-width: 767px) {
        .container123 {
            flex-direction: column;
        }
        .card {
            flex-basis: auto;
            margin-bottom: 20px;
        }
        .card img {
            width: 100%;
            height: auto;
        }
        .card h2 {
            font-size: 20px;
        }
        .card p {
            font-size: 16px;
        }
    }
    
    @media (max-width: 767px) {
        .section-stack {
            flex-direction: column;
        }
        .accordion-box {
            margin: 10px 0;
        }
        .accordion__toggle {
            font-size: 18px;
        }
        .accordion__content {
            padding: 10px;
        }
        .faq-availability {
            margin-top: 20px;
        }
    }
    
    @media (max-width: 767px) {
        .product-listing {
            display: flex;
            flex-wrap: wrap;
        }
        .product-card {
            flex-basis: 100%;
            margin-bottom: 20px;
        }
        .product-card__content-wrapper {
            padding: 10px;
            background-color:white ;
        }
        .product-card__title {
            font-size: 18px;
        }
        .product-card__description {
            font-size: 14px;
        }
        .product-card__brand {
            font-size: 14px;
        }
        .product-card__name {
            font-size: 14px;
        }
        .product-card__price {
            font-size: 16px;
        }
        .product-card__button {
            font-size: 14px;
            padding: 10px 20px;
        }
    }
    /* forblogpost */
    
    .star3 {
        font-size: 7px;
        margin-left: 250px;
        margin-top: 20px;
    }
    
    .reviewbutton {
        margin-top: -22px;
        margin-left: 150px;
    }
    
    .transparent-btn {
        border: 2px solid #fff;
        /* Border color */
        /* Text color */
        font-size: 16px;
        cursor: pointer;
        outline: none;
        /* Remove focus outline */
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }
    
    .transparent-btn:hover {
        background-color: #fff;
        /* Background color on hover */
        color: #333;
        /* Text color on hover */
        border-color: #fff;
        /* Border color on hover */
    }
    
    .transparent-btn1 {
        margin-left: 1450px;
        margin-top: -20px;
        border: 2px solid;
        /* Border color */
        /* Text color */
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        /* Remove focus outline */
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }
    
    .transparent-btn1:hover {
        background-color: #fff;
        /* Background color on hover */
        color: #333;
        /* Text color on hover */
        border-color: #fff;
        /* Border color on hover */
    }
    /* Review box styling */
    
    .review-box {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        width: 1050px;
        margin: 20px auto;
    }
    /* Customer name styling */
    
    .customer-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    /* Date styling */
    
    .date {
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;
    }
    /* Star rating styling */
    
    .stars {
        color: #FFD700;
        /* Gold color */
        margin-bottom: 10px;
        font-size: 24px;
    }
    /* Customer review styling */
    
    .review {
        font-size: 16px;
        line-height: 1.5;
    }
    
    .transparent-btn2 {
        margin-left: 520px;
        margin-top: -20px;
        border: 2px solid;
        /* Border color */
        /* Text color */
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        /* Remove focus outline */
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }
    
    .transparent-btn2:hover {
        background-color: #fff;
        /* Background color on hover */
        color: #333;
        /* Text color on hover */
        border-color: #fff;
        /* Border color on hover */
    }
    /* Review box styling */
    
    .header h1 {
        text-align: center;
        font-size: 300%;
    }
    
    .product-listing {
        display: flex;
        justify-content: space-between;
        width: 1350px;
        margin-left: 250px;
    }
    
    .product-card {
        width: calc(30% - 20px);
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: white;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        margin-left: -100px;
    }
    
    .product-card:hover {
        transform: translateY(-5px);
    }
    
    .product-card img {
        width: 100%;
        height: auto;
        vertical-align: middle;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .product-card__content-wrapper {
        padding: 10px;
        background-color: rgba(244, 239, 239, 0.5);
        color: #413636;
    }
    
    .stricked {
        color: rgb(103, 72, 188);
        text-decoration: line-through;
    }
    
    .product-card:hover .product-card__content-wrapper {
        opacity: 1;
    }
    
    .product-card__title {
        margin-top: 0;
        font-size: 1.5rem;
    }
    
    .product-card__description {
        margin-bottom: 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(46, 20, 237);
    }
    
    .product-card__brand {
        margin-top: 10px;
        font-size: 1rem;
        color: #a4a4a4;
    }
    
    .product-card__name {
        margin-top: 10px;
        font-size: 0.9rem;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .product-card__price {
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
    }
    
    .product-card__button {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
    }
    
    .product-card__button:hover {
        background-color: #e65136;
    }
    
    .wrapper {
        max-width: 75%;
        margin: auto;
    }
    
    .wrapper>p,
    .wrapper>h1 {
        margin: 1.5rem 0;
        text-align: center;
    }
    
    .wrapper>h1 {
        letter-spacing: 3px;
    }
    
    .accordionfaq {
        background-color: white;
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        font-size: 1.2rem;
        width: 100%;
        padding: 2rem 2.5rem;
        border: none;
        outline: none;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    
    .accordionfaq i {
        font-size: 1.6rem;
    }
    
    .active,
    .accordionfaq:hover {
        background-color: #f1f7f5;
    }
    
    .pannelfaq {
        padding: 0 2rem 2.5rem 2rem;
        background-color: white;
        overflow: hidden;
        background-color: #f1f7f5;
        display: none;
    }
    
    .pannelfaq p {
        color: rgba(0, 0, 0, 0.7);
        font-size: 1.2rem;
        line-height: 1.4;
    }
    
    .faqfaq {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: 10px 0;
    }
    
    .faqfaq.active {
        border: none;
    }