.container-wrapper {
  display: flex;
}

.container {
  flex: 1;

  padding: 20px;
  margin: 10px;
}

.container-wrap {
  display: flex;
}

.container {
  flex: 1;

  padding: 20px;
  margin: 10px;
}

.text-subdued {
  text-align: center;
}

.container__heading {
  color: black;
  font-family: arial;
  font-size: 30px;
  font-weight: 700;
}

.container__subheading {
  color: black;
  font-family: arial;
  font-size: 17px;
  font-weight: 750;
}

.third-section-box2 {
  width: 60%;
  /* background-color:grey; */
  display: flex;
  padding: 4%;
  border-radius: 1%;
}

.third-box2-content {
  width: 100%;
}

.td-1 {
  color: black;
  font-family: arial;
  font-size: 16px;
  font-weight: 650;
}

table {
  border-radius: 3%;
  /* border-collapse: collapse; */
  background-color: #dadada;
  padding: 2vw;
}

table tr td {
  padding: 2% 1%;
  border-bottom: 1px solid grey;
}

table tr:last-child div span:hover{
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  transform: scale(2);
}
:root {
  --spacing-0-5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-1-5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2-5: 0.625rem;
  /* 10px */
  --spacing-3: 0.75rem;
  --spacing-3-5: 0.875rem;
  /* 14px */
  --spacing-4: 1rem;
  --spacing-4-5: 1.125rem;
  --spacing-5: 1.25rem;
  --spacing-5-5: 1.375rem;
  --spacing-6: 1.5rem;
  --spacing-6-5: 1.625rem;
  /* 26px */
  --spacing-7: 1.75rem;
  --spacing-7-5: 1.875rem;
  --spacing-8: 2rem;
  --spacing-8-5: 2.125rem;
  /* 34px */
  --spacing-9: 2.25rem;
  --spacing-9-5: 2.375rem;
  /* 38px */
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-18: 4.5rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  /* 96px */
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;

  --container-max-width: 1520px;
  --container-narrow-max-width: 1270px;
  --container-gutter: var(--spacing-5);
  --section-outer-spacing-block: var(--spacing-12);
  --section-inner-max-spacing-block: var(--spacing-10);
  --section-inner-spacing-inline: var(--container-gutter);
  --section-stack-spacing-block: var(--spacing-8);

  --grid-gutter: var(--spacing-5);

  --product-list-row-gap: var(--spacing-8);
  --product-list-column-gap: var(--grid-gutter);

  --heading-font-family: Nunito, sans-serif;
  --heading-font-weight: 400;
  --heading-font-style: normal;
  --heading-text-transform: normal;
  --heading-letter-spacing: -0.02em;
  --text-font-family: "Nunito Sans", sans-serif;
  --text-font-weight: 400;
  --text-font-style: normal;
  --text-letter-spacing: 0em;

  --text-h0: 2.5rem;
  --text-h1: 1.75rem;
  --text-h2: 1.5rem;
  --text-h3: 1.375rem;
  --text-h4: 1.125rem;
  --text-h5: 1.125rem;
  --text-h6: 1rem;
  --text-xs: 0.6875rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1.125rem;

  --accent: 26 26 26;
  --text-primary: 26 26 26;
  --background-primary: 243 243 246;
  --dialog-background: 255 255 255;
  --border-color: var(--text-color, var(--text-primary)) / 0.12;

  /* Button colors */
  --button-background-primary: 26 26 26;
  --button-text-primary: 255 255 255;
  --button-background-secondary: 240 196 23;
  --button-text-secondary: 26 26 26;

  /* Product colors */
  --on-sale-text: 58 112 248;
  --on-sale-badge-background: 58 112 248;
  --on-sale-badge-text: 255 255 255;
  --sold-out-badge-background: 0 0 0;
  --sold-out-badge-text: 255 255 255;
  --primary-badge-background: 128 60 238;
  --primary-badge-text: 255 255 255;
  --star-color: 255 183 74;
  --product-card-background: 255 255 255;
  --product-card-text: 26 26 26;

  --rounded: 0.75rem;
  --rounded-lg: 1.5rem;
  --rounded-full: 9999px;

  --rounded-button: 3.75rem;
  --rounded-input: 0.5rem;

  /* Box shadow */
  --shadow-sm: 0 2px 8px rgb(var(--text-primary) / 0.1);
  --shadow: 0 5px 15px rgb(var(--text-primary) / 0.1);
  --shadow-md: 0 5px 30px rgb(var(--text-primary) / 0.1);
  --shadow-block: 0px 30px 50px rgb(var(--text-primary) / 0.1);

  --cursor-close-svg-url: url(//decodeage.com/cdn/shop/t/21/assets/cursor-close.svg?v=147174565022153725511699087093);
  --cursor-zoom-in-svg-url: url(//decodeage.com/cdn/shop/t/21/assets/cursor-zoom-in.svg?v=154953035094101115921699087093);
  --cursor-zoom-out-svg-url: url(//decodeage.com/cdn/shop/t/21/assets/cursor-zoom-out.svg?v=16155520337305705181699087093);
  --checkmark-svg-url: url(//decodeage.com/cdn/shop/t/21/assets/checkmark.svg?v=77552481021870063511699087093);
}

@media screen and (min-width: 700px) {
  :root {
    /* Typography (font size) */
    --text-h0: 3.25rem;
    --text-h1: 2.25rem;
    --text-h1: 56px;
    --text-h2: 1.75rem;
    --text-h2: 32px;
    --text-h3: 1.625rem;
    --text-h4: 1.25rem;
    --text-h5: 1.25rem;
    --text-h6: 1.125rem;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;

    /* Spacing */
    --container-gutter: 2rem;
    --section-outer-spacing-block: var(--spacing-16);
    --section-inner-max-spacing-block: var(--spacing-12);
    --section-inner-spacing-inline: var(--spacing-12);
    --section-stack-spacing-block: var(--spacing-12);

    /* Grid gutter */
    --grid-gutter: var(--spacing-6);

    /* Product list settings */
    --product-list-row-gap: var(--spacing-12);

    /* Form settings */
    --input-gap: 1rem;
    --input-height: 3.125rem;
    --input-padding-inline: var(--spacing-5);
  }
}

@media screen and (min-width: 1000px) {
  :root {
    /* Spacing settings */
    --container-gutter: var(--spacing-12);
    --section-outer-spacing-block: var(--spacing-18);
    --section-inner-max-spacing-block: var(--spacing-16);
    --section-inner-spacing-inline: var(--spacing-16);
    --section-stack-spacing-block: var(--spacing-12);
  }
}

@media screen and (min-width: 1150px) {
  :root {
    /* Spacing settings */
    --container-gutter: var(--spacing-12);
    --section-outer-spacing-block: var(--spacing-20);
    --section-inner-max-spacing-block: var(--spacing-16);
    --section-inner-spacing-inline: var(--spacing-16);
    --section-stack-spacing-block: var(--spacing-12);
  }
}

@media screen and (min-width: 1400px) {
  :root {
    /* Typography (font size) */
    --text-h0: 4rem;
    --text-h1: 3rem;
    --text-h2: 2.5rem;
    --text-h3: 1.75rem;
    --text-h4: 1.5rem;
    --text-h5: 1.25rem;
    --text-h6: 1.25rem;

    --section-outer-spacing-block: var(--spacing-24);
    --section-inner-max-spacing-block: var(--spacing-18);
    --section-inner-spacing-inline: var(--spacing-18);
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --section-outer-spacing-block: var(--spacing-24);
    --section-inner-max-spacing-block: var(--spacing-20);
    --section-inner-spacing-inline: var(--spacing-20);
  }
}

@media screen and (pointer: fine) {
  .button:not([disabled]):hover,
  .btn:not([disabled]):hover,
  .shopify-payment-button__button--unbranded:not([disabled]):hover {
    --button-background-opacity: 0.85;
  }

  .button--subdued:not([disabled]):hover {
    --button-background: var(--text-color) / 0.05 !important;
  }
}

#shopify-section-sections--16207145599164__search-drawer {
  --predictive-search-column-count: 3;
}

#shopify-section-template--16207148417212__main {
  --product-list-gap: var(--spacing-2);
  --product-list-items-per-row: 2;
  --product-list-grid: auto-flow dense /
    repeat(var(--product-list-items-per-row), minmax(0, 1fr));
  --product-list-promo-grid-column: span 2;

  --content-over-media-gap: var(--spacing-8);
}

@media screen and (min-width: 700px) {
  #shopify-section-template--16207148417212__main {
    --product-list-gap: var(--product-list-row-gap)
      var(--product-list-column-gap);
    --product-list-items-per-row: 2;
    --product-list-promo-grid-column: span 1;
  }
}

@media screen and (min-width: 1000px) {
  #shopify-section-template--16207148417212__main {
    --product-list-items-per-row: 3;
    --product-list-promo-grid-column: span 2;
  }
}

@media screen and (min-width: 1200px) {
  #shopify-section-template--16207148417212__main {
    --product-list-items-per-row: 4;
  }
}

@media screen and (min-width: 1400px) {
  #shopify-section-template--16207148417212__main {
    --product-list-items-per-row: 4;
  }
}

#shopify-section-template--16207148417212__main {
  --section-background-hash: 0;
}

#shopify-section-template--16207148417212__main + * {
  --previous-section-background-hash: 0;
}

#shopify-section-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3 {
  --section-spacing-block: 0;
  --content-over-media-content-max-width: 330px;
  --content-over-media-overlay: 0 0 0 / 0.15;

  --hot-spot-background: 255 255 255;
  --hot-spot-text-color: 0 0 0;
  --hot-spot-content-opacity: 0.72;
  --hot-spot-content-blur-radius: 10px;
  --hot-spot-content-background: 255 255 255;
  --hot-spot-content-text-color: 0 0 0;
}

#shopify-section-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3 {
  --section-background-hash: 042032859;
}

#shopify-section-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3
  + * {
  --previous-section-background-hash: 042032859;
}

#shopify-section-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3
  .content-over-media {
  overflow: visible;
  /* allows dot to show outside */
}

@media screen and (min-width: 1000px) {
  #shopify-section-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3 {
    --section-spacing-block: 0;
  }
}

#block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-db196f96-0ab7-4df0-a955-537704d52468 {
  --hot-spot-horizontal-position: 44%;
  --hot-spot-vertical-position: 30%;
}

@media screen and (min-width: 1000px) {
  #block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-db196f96-0ab7-4df0-a955-537704d52468 {
    --hot-spot-horizontal-position: 44%;
    --hot-spot-vertical-position: 30%;
  }
}

#block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-template--16057033031868__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-item-1 {
  --hot-spot-horizontal-position: 43%;
  --hot-spot-vertical-position: 70%;
}

@media screen and (min-width: 1000px) {
  #block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-template--16057033031868__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-item-1 {
    --hot-spot-horizontal-position: 43%;
    --hot-spot-vertical-position: 70%;
  }
}

#shopify-section-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8 {
  --section-background-hash: 0;
}

#shopify-section-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8
  + * {
  --previous-section-background-hash: 0;
}

#block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-template--16057033031868__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-item-2 {
  --hot-spot-horizontal-position: 69%;
  --hot-spot-vertical-position: 40%;
}

#shopify-section-template--16207148417212__339a9b45-dd4b-4e63-a4e7-82b37138911b {
  --media-with-text-gap: var(--grid-gutter);
  --media-with-text-item-grid-template: "media" "content" / auto;
}

@media screen and (min-width: 1000px) {
  #shopify-section-template--16207148417212__339a9b45-dd4b-4e63-a4e7-82b37138911b {
    --media-with-text-gap: var(--spacing-6);
  }
}

#block-template--16207148417212__339a9b45-dd4b-4e63-a4e7-82b37138911b-template--16057033031868__339a9b45-dd4b-4e63-a4e7-82b37138911b-image-1 {
  --media-with-text-item-icon-width: 48px;
}

@media screen and (min-width: 1000px) {
  #block-template--16207148417212__339a9b45-dd4b-4e63-a4e7-82b37138911b-template--16057033031868__339a9b45-dd4b-4e63-a4e7-82b37138911b-image-1 {
    --media-with-text-item-grid-template: "media content" / minmax(0, 1fr)
      minmax(0, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  #block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-template--16057033031868__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-item-2 {
    --hot-spot-horizontal-position: 69%;
    --hot-spot-vertical-position: 40%;
  }
}

#block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-template--16057033031868__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-item-3 {
  --hot-spot-horizontal-position: 69%;
  --hot-spot-vertical-position: 75%;
}

@media screen and (min-width: 1000px) {
  #block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-template--16057033031868__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-item-3 {
    --hot-spot-horizontal-position: 69%;
    --hot-spot-vertical-position: 75%;
  }
}

#block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-f50cc939-f5c8-455b-869b-3b81040f1401 {
  --hot-spot-horizontal-position: 69%;
  --hot-spot-vertical-position: 5%;
}

@media screen and (min-width: 1000px) {
  #block-template--16207148417212__ebeefb72-8ff3-4378-bd13-fe4e546da3b3-f50cc939-f5c8-455b-869b-3b81040f1401 {
    --hot-spot-horizontal-position: 69%;
    --hot-spot-vertical-position: 5%;
  }
}

#shopify-section-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8 {
  --section-background-hash: 0;
}

#shopify-section-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8
  + * {
  --previous-section-background-hash: 0;
}

#shopify-section-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8 {
  --media-with-text-gap: var(--grid-gutter);
  --media-with-text-item-grid-template: "media" "content" / auto;
}

@media screen and (min-width: 1000px) {
  #shopify-section-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8 {
    --media-with-text-gap: var(--spacing-6);
  }
}

#block-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8-08e8b5c0-90c6-45bf-b636-f80a88b53a85 {
  --media-with-text-item-icon-width: 48px;
}

@media screen and (min-width: 1000px) {
  #block-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8-08e8b5c0-90c6-45bf-b636-f80a88b53a85 {
    --media-with-text-item-grid-template: "content media" / minmax(0, 1fr)
      minmax(0, 1fr);
  }
}

#block-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8-template--16057033031868__8868accd-a463-4620-91c0-807aa95d86d8-image-1 {
  --media-with-text-item-icon-width: 48px;
}

@media screen and (min-width: 1000px) {
  #block-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8-template--16057033031868__8868accd-a463-4620-91c0-807aa95d86d8-image-1 {
    --media-with-text-item-grid-template: "media content" / minmax(0, 1fr)
      minmax(0, 1fr);
  }
}

#block-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8-e1c5b659-4e61-4d73-859f-f8067a8883d9 {
  --media-with-text-item-icon-width: 48px;
}

@media screen and (min-width: 1000px) {
  #block-template--16207148417212__8868accd-a463-4620-91c0-807aa95d86d8-e1c5b659-4e61-4d73-859f-f8067a8883d9 {
    --media-with-text-item-grid-template: "content media" / minmax(0, 1fr)
      minmax(0, 1fr);
  }
}
#accordionFlushExample{
  /* background-color: lightgray; */
  background-color: #dadada;
  border-top: none;
  border-bottom: none;
  padding: 30px;
  border-radius: 15px;
  width: 750px;
  
 
}
#flush-collapseOne{
  background-color: #dadada;
}
.accordion-item .accordion-header button{
  height: 70px;
  background-color: #dadada; 
  border-bottom:1px ridge rgb(175, 172, 172);
  
}
.accordion-body{
  background-color: #dadada;
  
}
  
.contact {
  margin: auto;
  width: 40%;
  color: black;
  margin-bottom: 50px;
  text-align: center;
}
 
.feature-chart__heading bold .feature-chart__value prose p{
  
  font-size: 14px;
  color:rgb(161, 157, 157);
  padding-left: 150px;

}
